.App {
    text-align: center;
}

.display-time {
    font-weight: bold;

    font-size: 45px;
    margin: 60px 0px;
}

.controls {
    background-color: #eee;
}

.log {
    text-align: center;
    font-size: 30px;
    color: #e1e1e1;

}

.log > .empty-log {

    display: inline-block;
    padding: 50px 10px;

}

.Button {
    width: 130px;
    font-size: 20px;
    padding: 10px 20px;
    margin: 20px;
    border: none;
    border-radius: 5px;
    background-color: lightgreen;
    cursor: pointer;

}

.success {
    background-color: lightgreen;
}

.warning {
    background-color: gold;
}

.primary {
    background-color: skyblue;
}

.undefined {
    background-color: #e1e1e1;
}

ui, li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

/*.log >li{*/

.log-item {

    font-size: 30px;
    color: lightcoral;
    border-bottom: 1px solid #eee;
    padding: 10px 0px;
}

.log-item:hover{
    background-color: rgba(238,11,238,0.5);
}


